<form class="example-form">
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Google API Key" value="">
  </mat-form-field>
    
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Origin">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Destination">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Maximum distance">
    </mat-form-field>
</form>

